/* Color Theme Swatches in Hex */
.Wilderness-1-hex { color: #025159; }
.Wilderness-2-hex { color: #04BFBF; }
.Wilderness-3-hex { color: #038C8C; }
.Wilderness-4-hex { color: #BF9A78; }
.Wilderness-5-hex { color: #8C452B; }

/* Universal Styles */
html {
    font-size: 16px;
    background-color: #025159;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    color: #BF9A78;
}

h3 {
    color: #04BFBF;
}

a {
    text-decoration: none;
    color: #04BFBF;
    font-weight: 600;
}

.italics {
    font-style: italic;
}

/* Header */
header {
    background-color: #8C452B;
    width: 100%;
    height: 2rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
    border-bottom: solid 1px #BF9A78;
    margin: 0%;
    align-content: center;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

header li {
    list-style: none;
    display: inline;
    font-size: 1rem;
    padding-right: 1.5rem;
}

/* Intro */
div.greeting {
    position: relative;
    top: 2rem; /*To offset for fixed header*/
    display: flex;
    padding-bottom: 1rem;
}

.round-crop {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #04BFBF;
    margin-right: 1rem;
}

.intro img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* Links */
.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 2rem 2.5rem;
    max-width: 100%;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.links img {
    max-height: 5rem;
    justify-content: center;
}

.card {
    text-align: center;
}

.links .card-content h3{
    align-content: center;
    justify-content: center;
    text-overflow: ellipsis;
}
