/* Color Theme Swatches in Hex */
.Wilderness-1-hex { color: #025159; }
.Wilderness-2-hex { color: #04BFBF; }
.Wilderness-3-hex { color: #038C8C; }
.Wilderness-4-hex { color: #BF9A78; }
.Wilderness-5-hex { color: #8C452B; }

/* Universal Styles */
html {
    font-size: 16px;
    background-color: #025159;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    color: #BF9A78;
}

h3 {
    color: #04BFBF;
}

a {
    text-decoration: none;
    color: #04BFBF;
    font-weight: 600;
}

.italics {
    font-style: italic;
}

.mobile {
    display: none;
}

/* Header */
header {
    background-color: #8C452B;
    width: 100%;
    height: 2rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
    border-bottom: solid 1px #BF9A78;
    margin: 0%;
    align-content: center;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

header li {
    list-style: none;
    display: inline;
    font-size: 1rem;
    padding-right: 1.5rem;
}

/* Intro */
div.greeting {
    position: relative;
    top: 2rem; /*To offset for fixed header*/
    display: flex;
    padding-bottom: 1rem;
}

.round-crop {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #04BFBF;
    margin-right: 1rem;
}

.intro img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* Links */
.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 2rem 2.5rem;
    max-width: 100%;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.links img {
    max-height: 5rem;
    justify-content: center;
}

.card {
    text-align: center;
}

.links .card-content h3{
    align-content: center;
    justify-content: center;
    text-overflow: ellipsis;
}

/* Footer */
footer h5 {
    color: #BF9A78;
}

/* Mobile View */
@media only screen and (max-width: 480px) {
    
    /* Header */
    header {
        display: none;
    }

    /* Intro */
    h1 {
        font-size: 60px;
    }

    .round-crop {
        width: 150px;
        height: 150px;
    }

    /* Links */
    .links {
        display: block;
    }

    /* Footer */
    footer {
        margin-bottom: 3.5rem; /*To offset for fixed nav*/
        line-height: 1rem;
    }

    nav.mobile {
        width: 100%;
        display: flex;
        vertical-align: middle; 
        background-color: #8C452B;
        position: fixed;
        bottom: 0rem;
        z-index: 100;
        border-top: solid 1px #BF9A78;
        margin: 0%;
        justify-content: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    nav.mobile ul {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        list-style: none;
        margin: 0%;
        padding-left: 0px;
    }

    nav.mobile li {
        align-items: center;
        list-style: none;
        display: inline;
        margin: 0%;
    }

    .mobile li img {
        max-height: 1.5rem;
        width: auto;
        margin: 0%;
    }
}
